.section {
    margin-bottom: 40vh;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 5vh;
    font-size: clamp(5em, 10em, 10vw);
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    font-size: clamp(2.5em, 5em, 5vw);
}

.highlight {
    color: white;
    font-weight: bold;
}

.fadeIn {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon {
    cursor: pointer;
    align-self: center;
    opacity: 1;
    animation-name: arrowAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    margin-right: -5vw;
    height: 30vh;
}

@media screen and (max-width: 500px) {
    .icon {
        height: 20vh;
    }
}

@keyframes arrowAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}