.project {
    height: 80vh;
    display: flex;
    margin-top: 10em;
}

@media screen and (min-width: 501px) {
    .alignment {
        flex-direction: row-reverse;
    }
}

.link {
    color: lightgray;
}

.link:hover {
    color: lightgray;
}

.img {
    width: min(90vw, 80vh);
    height: min(90vw, 80vh);
    border-radius: 1em;
}

.titleNDesc {
    margin: 0 2em;
    width: auto;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.titleNDescRight {
    text-align: end;
}


.title {
    margin-top: -0.2em;
}

.desc {
    font-size: 1.5em;
    padding-right: 20vw;;
}

.descRight {
    padding-right: 0;
    padding-left: 20vw;
}

.languagesDiv {
    display: flex;
    font-size: 1.4em;
}

.languagesDivRight {
    flex-direction: row-reverse;
}

.language {
    color: white;
    margin-right: 1em;
    background-color: grey;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
}

.languageRight {
    margin-right: 0;
    margin-left: 1em;
    text-align: left;
    width: fit-content;
}

@media screen and (max-width: 1100px) and (min-width: 501px) {
    .desc {
        font-size: 1.5em;
        padding-right: 0;
    }

    .descRight {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .project {
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }

    .titleNDesc {
        margin: 2em 2em;
    }

    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .desc, .descRight {
        padding: 0;
    }
}