.section {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 5em;
    align-self: center;
}

.group {
    display: flex;
    flex-direction: column;
    overflow-x: clip;
    overflow-y: visible;
    margin-bottom: 20vh;
}