.project {
    height: fit-content;
    display: flex;
    margin-top: 10em;
}

.alignment {
    flex-direction: row-reverse;
}

.img {
    width: auto;
    height: auto;
    max-width: 60vw;
    max-height: 140vh;
    border-radius: 1em;
}

.titleNDesc {
    margin: 0 2em;
    width: 20vw;
}

.justify {
    text-align: end;
}