.project {
    height: fit-content;
    display: flex;
    margin-top: 10em;
}

.alignment {
    flex-direction: row-reverse;
}

.link {
    color: lightgray;
}

.link:hover {
    color: lightgray;
}

.img {
    width: 80vh;
    height: 80vh;
    border-radius: 1em;
}

.titleNDesc {
    margin: 0 2em;
    width: auto;
}

.title {
    margin-top: -0.2em;
}

.desc {
    font-size: 1.5em;
    padding-right: 20vw;
}

.descRight {
    padding-right: 0;
    padding-left: 20vw;
}

.justify {
    text-align: end;
}