.section {
    display: flex;
    flex-direction: column;
}

.title {
    align-self: center;
}

.group {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.expand {
    transition-property: transform;
    transition-duration: 200ms;
    transform: scale(1.5);
    z-index: 1;
}

.contract {
    transition-property: transform;
    transition-duration: 200ms;
    transform: scale(1);
    z-index: 1;
}