.project {
    height: 80vh;
    display: flex;
    margin-top: 10em;
}

.alignment {
    flex-direction: row-reverse;
}

.link {
    color: lightgray;
}

.link:hover {
    color: lightgray;
}

.img {
    width: 80vh;
    height: 80vh;
    border-radius: 1em;
}

.titleNDesc {
    margin: 0 2em;
    width: auto;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: -0.2em;
}

.desc {
    font-size: 1.5em;
    padding-right: 20vw;
}

.descRight {
    padding-right: 0;
    padding-left: 20vw;
}

.justify {
    text-align: end;
}

.languagesDiv {
    display: flex;
    font-size: 1.4em;
}

.languagesDivRight {
    flex-direction: row-reverse;
}

.language {
    color: white;
    margin-right: 1em;
    background-color: grey;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
}

.languageRight {
    margin-right: 0;
    margin-left: 1em;
    text-align: left;
    width: fit-content;
}