.section {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: clamp(4.2em, 5em, 10vw);
    align-self: center;
}

.group {
    display: flex;
    flex-direction: column;
    overflow-x: clip;
    overflow-y: visible;
    margin-bottom: 20vh;
}